html {
  font-size: 62.5% !important; }

body, a, p {
  font-size: 2.5rem !important;
  line-height: 4rem; }

input, textarea {
  font-size: 2rem !important;
  line-height: normal !important; }

body, span, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica", "Sans-Serif" !important;
  font-weight: 300; }

h5, h6 {
  font-weight: 400; }

::-webkit-input-placeholder {
  color: #aaa !important;
  opacity: 1; }

::-moz-placeholder {
  color: #aaa !important;
  opacity: 1; }

:-ms-input-placeholder {
  color: #aaa !important;
  opacity: 1; }

:-moz-placeholder {
  color: #aaa !important; }

nav {
  z-index: 9001;
  height: 5rem;
  position: fixed;
  box-shadow: none;
  -webkit-transition: all 500ms cubic-bezier(0, 0, 0.1, 0.86);
  transition: all 500ms cubic-bezier(0, 0, 0.1, 0.86);
  background-color: transparent; }
  nav #logo {
    font-size: 2rem;
    padding: 1.5rem 1rem;
    border: 2px solid #ddd;
    margin: 0.8rem;
    line-height: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
    nav #logo:hover {
      color: black;
      background-color: white;
      border: 2px solid white;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
  nav ul a {
    line-height: 0;
    position: relative;
    padding: 2.5rem;
    font-size: 2rem !important; }
  nav #nav-mobile a {
    padding: 2.5rem 1.7rem; }
  nav.scrolled-landing {
    background-color: rgba(0, 0, 0, 0.2); }
  nav.below-landing {
    background-color: white;
    border-bottom: 1px solid #f5f5f5; }
    nav.below-landing #logo {
      color: black;
      border-color: black; }
      nav.below-landing #logo:hover {
        color: white;
        background-color: black;
        border: 2px solid black; }
    nav.below-landing ul a {
      color: black; }
      nav.below-landing ul a.active .nav-text:after {
        border-bottom: 2px solid #123552;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
      nav.below-landing ul a .nav-text:after {
        border-color: #123552; }
  nav .nav-text {
    position: relative;
    display: inline-block; }
  nav .nav-text::after {
    position: absolute;
    right: 0;
    bottom: -13px;
    left: 0;
    border-bottom: 1px solid;
    content: "";
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
  nav .nav-text:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }
  nav ul a:hover {
    background-color: transparent !important; }

#landing {
  background: url(/images/landing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 15vw 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 15vw 0px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 15vw 0px rgba(0, 0, 0, 0.8);
  height: 100vh;
  color: white; }
  #landing .overlay {
    background-color: rgba(25, 25, 25, 0.6);
    height: 100vh; }
  @media only screen and (max-width: 599px) {
    #landing #heading {
      display: none; }
    #landing #heading-mobile {
      display: table;
      height: 100vh;
      width: 100%;
      text-align: center; }
      #landing #heading-mobile h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 3.25rem; }
        #landing #heading-mobile h1 strong {
          font-weight: 600; }
      #landing #heading-mobile .typed-cursor {
        font-size: 3.25rem; } }
  @media only screen and (min-width: 600px) {
    #landing #heading-mobile {
      display: none; }
    #landing #heading #typer {
      margin: auto;
      padding-top: 40vh;
      word-wrap: break-word;
      width: 788; }
      #landing #heading #typer.typer-change {
        width: 689 !important; }
      #landing #heading #typer h1 {
        display: inline-block;
        font-size: 5rem; }
        #landing #heading #typer h1 strong {
          font-weight: 600; }
      #landing #heading #typer .typed-cursor {
        font-size: 5rem; } }
  @media only screen and (min-width: 600px) and (max-width: 1140px) {
    #landing #heading #typer {
      width: 630.4; }
      #landing #heading #typer.typer-change {
        width: 551.2 !important; }
      #landing #heading #typer h1 {
        font-size: 4rem; }
      #landing #heading #typer .typed-cursor {
        font-size: 4rem; } }
  @media only screen and (min-width: 600px) and (max-width: 740px) {
    #landing #heading #typer {
      width: 512.2; }
      #landing #heading #typer.typer-change {
        width: 447.85 !important; }
      #landing #heading #typer h1 {
        font-size: 3.25rem; }
      #landing #heading #typer .typed-cursor {
        font-size: 3.25rem; } }

.boxed-title {
  border-color: black;
  padding: 1.5rem 1rem;
  border: 2px solid grey; }

.show {
  opacity: 1 !important;
  transform: translate3d(0, -50px, 0px);
  transition: all 1s ease-out; }

#content {
  background-color: white; }
  #content #about {
    opacity: 0;
    padding-top: 15vh;
    padding-bottom: 15vh; }
    #content #about h1 {
      font-weight: 700;
      font-size: 5.625rem;
      margin: 0 auto; }
    #content #about img {
      border-radius: 50%;
      width: 100px;
      margin: 20px; }
    @media only screen and (min-width: 740px) {
      #content #about .col.s6.m6 #jack {
        float: right;
        margin-right: 30px; }
      #content #about .col.s6.m6 #karl {
        float: left;
        margin-left: 30px; } }
  #content #services {
    opacity: 0; }
    #content #services .blurb-container {
      position: relative;
      min-height: 150px;
      margin: 0.8rem; }
      #content #services .blurb-container li {
        position: absolute;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out; }
      #content #services .blurb-container .opacity {
        opacity: 1; }
    #content #services .buckets1 {
      position: relative;
      height: 400px;
      padding: 0;
      overflow: hidden; }
      #content #services .buckets1 .slide-content {
        background-color: white;
        width: 100%;
        position: absolute;
        bottom: -400px;
        transition: all 0.5s ease; }
      #content #services .buckets1 .top-content {
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        transition: all 0.5s ease; }
    #content #services .buckets1:hover .slide-content {
      background-color: #fd5c63;
      bottom: 0px; }
    #content #services .buckets1:hover .top-content {
      bottom: 250px; }
    #content #services .buckets2 {
      position: relative;
      height: 400px;
      padding: 0;
      overflow: hidden; }
      #content #services .buckets2 .slide-content {
        background-color: white;
        width: 100%;
        position: absolute;
        bottom: -400px;
        transition: all 0.5s ease; }
      #content #services .buckets2 .top-content {
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        transition: all 0.5s ease; }
    #content #services .buckets2:hover .slide-content {
      background-color: #ffd740;
      bottom: 0px; }
    #content #services .buckets2:hover .top-content {
      bottom: 250px; }
    #content #services .buckets3 {
      background-color: white;
      position: relative;
      height: 400px;
      padding: 0;
      overflow: hidden; }
      #content #services .buckets3 .slide-content {
        background-color: mintcream;
        width: 100%;
        position: absolute;
        bottom: -400px;
        transition: all 0.5s ease; }
      #content #services .buckets3 .top-content {
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        transition: all 0.5s ease; }
    #content #services .buckets3:hover .slide-content {
      background-color: #448aff;
      bottom: 0px; }
    #content #services .buckets3:hover .top-content {
      bottom: 250px; }

#work {
  opacity: 0;
  perspective: 1000px;
  padding-top: 15vh;
  padding-bottom: 20vh; }
  #work h1 {
    display: block;
    font-size: 300px;
    top: -2.86364rem;
    right: 5.45455rem; }
  #work .main-carousel {
    top: 5vh;
    margin-left: -200;
    height: 400px;
    transform: rotateY(-10deg); }
    #work .main-carousel .carousel-cell {
      padding: 15px;
      transition: all .2s ease-in-out; }
      #work .main-carousel .carousel-cell img {
        width: 400px;
        max-width: 1000px;
        max-height: 1000px; }
  #work .carousel-cell.is-selected {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    z-index: 9001; }
  #work .mobile-carousel .carousel-cell {
    width: 100%; }
    #work .mobile-carousel .carousel-cell img {
      display: block;
      max-width: 100%;
      max-height: 100%; }

#contact {
  margin-top: 15vh;
  background-color: #FFF2E6; }
  #contact .email {
    color: #2A4F6E; }
  #contact .row {
    margin-bottom: 0; }
  #contact h2 {
    padding-top: 3vh; }
  #contact p {
    margin-top: 1vh; }
  #contact button {
    background-color: #2A4F6E;
    margin-bottom: 3vh; }

footer p {
  background-color: white;
  height: 1vh;
  line-height: 0;
  padding: 2.5rem;
  font-weight: 400;
  font-size: 1.6rem !important;
  display: block; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.letter-b {
  -webkit-filter: blur(6px);
  filter: blur(6px);
  transition: all 0.5s; }

.letter-b:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transition: all 0.5s; }

.letter-l {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  transition: all 0.5s; }

.letter-l:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transition: all 0.5s; }

.letter-u {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  transition: all 0.5s; }

.letter-u:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transition: all 0.5s; }
